html, body {
    height: 100%;
}


.wrapper{
    min-width: 1440px;
    background-image: url("../img/fon/wrapper.jpg");
}

.container{
    margin: 0 auto;
    width: 1300px;
}

body{
    font: 16px / 1.42 "Roboto", Arial, sans-serif;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul{
    margin: 0;
    padding: 0;
}

ul > li{
    list-style: none;
}
.hero {
    height: 100vh;
    min-height: 650px;
    background: url("../img/fon/header.jpg") center center / cover no-repeat;
    position: relative;
    margin-bottom: 70px;
}
.header{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px ;
}


.mail{
    text-decoration: none;
    text-align: center;
    color: inherit;
}

.mail__title{
    margin-bottom: 3px;
}

.mail__content{
    background: #212121;
    color: #FF4500;
    padding: 5px 10px;
}

.hero__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    width: 1140px;
    height: 72%;
}

.sidebar{
    width: 75px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #212121;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: width 0.5s;
}

.sidebar__menu{
    position: absolute;;
    left: -400px;
    transition: left 0.5s;
}

.sidebar--opened .sidebar__menu{
    left: 0;
    width: 100%;
    text-align: center;
    transition-delay: 0.1s ;
}

.sidebar__hamburger-icon{
    width: 29px;
    height: 29px;
    fill: yellow;
}

.sidebar__hamburger{
    display: block;
    position: absolute;
    top: 27px;
    left: 50%;
    transform: translate(-50%);
}

.sidebar--opened .sidebar__hamburger{
    display: none;
}

.sidebar--opened{
    width: 325px;
    padding: 0 3% 0 4%;
}

.sidebar--opened .sidebar__header{
    display: flex;
}

.sidebar__header{
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
}

.sidebar__close{
    position: absolute;
    top: -3px;
    right: 30px;
}

.sidebar__close-icon{
    width: 30px;
    height: 35px;
    fill: yellow;
}

.side-menu__item{
    margin-bottom: 20px;
}

.side-menu__link{
    font-size: 20px;
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif, Arial, sans-serif;
}

.side-menu__link:hover{
    color: red;
}

.sidebar__close-icon:hover{
    fill: red;
}

.fade-slider{
    width: 100%;
    height: 100%;
    position: relative;
}

.fade-slider__item{
    background: center center / contain no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.2s;
}

.fade-slider__item--visble{
    opacity: 1;
}

.fade-slider__item--style-iphone11{
    background-image: url("../img/product/iphone/iphone11-ping.jpeg");
}

.fade-slider__item--style-ps5{
    background-image: url("../img/product/PlayStation-5.jpg");
}

.fade-slider__item--style-iphone12{

    background-image: url("../img/product/iphone/iphone12.jpeg");
}

.fade-slider__text{
    position: absolute;
    left: 50%;
    top: 50%;
}
.fade-slider__text-iphone11{
    transform: translate(-245%, -95%);
}

.fade-slider__text-ps5{
    transform: translate(-145%, -265%);
}

.fade-slider__text-iphone12{
    transform: translate(145%, -195%);
}

.lined-text{
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 0.2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lined-text__word{
    background: #000;
    padding: 0 10px 4px;
}

.lined-text__word--color{
    color: yellow;
}

.lined-text__word:nth-child(2n){
    margin-left: 8px;
}





.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.filter__item{
    margin-right: 40px;
}

.filter__item:last-child{
    margin-right: 0;
}

.filter__link{
    font-family: 'Yanone Kaffeesatz', sans-serif, Arial,sans-serif;
    text-transform: uppercase;
    padding: 3px 8px;
    color: #1b1b1b;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

.filter__link:hover{
    color: red;
}

.filter__item--active .filter__link{
    background: black;
    color: yellow;
}

.products {
    margin-bottom: 100px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -28px;
}

.products__item{
    width: 302px;
    height: 386px;
    background: yellow;
    margin-bottom: 35px;
    margin-left: 28px;
    position: relative;
}

.products__price {
    position: absolute;
    top: 8px;
    left: -8px;
    width: 126px;
    border-bottom: 45px solid #232323;
    border-left: 5px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(-181deg);
}

.product__price-amount{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif, Arial, sans-serif;
    color: white;
    transform: rotate(181deg);
    position: absolute;
    top: 2px;
    right: 28px;
}

.products__item--color{
    background: #696969;
}

.products__item--color .products__price{
    border-bottom-color: yellow;
}

.products__item--color .product__price-amount{
    color: black;
}

.products__item--sizeW{
    width: 630px;
    height: 544px;

}

.products__item--sizeW .products__img{
    display: block;
    width: auto;
    height: 50%;
}

.products__item--sizeW .products__imgP{
    display: block;
    width:90%;
    height: 70%;
}

.products__content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.products__item:hover .product__desc{
    transform: translateY(0%);
}

.product__desc{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 23px 30px;
    background: rgba(35,35,35,0.8);
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    transition: transform .5s;
}

.products__img{
    display: block;
    width: 70%;
    height: 70%;
}

.product__desc-text {
    text-align: center;
    margin-bottom: 18px;
}

.btn{
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif, Arial, sans-serif;
    font-size: 24px;
    padding: 2px 30px;
    background: black;
    color: yellow;
    display: inline-block;
    text-decoration: none;
}

.btn:hover{
    background: red;
    color: white;
}















.footer{
    margin-bottom: 100px;
}

.footer__container{
    width: 1105px;
}

.site-menu__sections{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.site-menu__col{
    margin-right: 20px;
}

.site-menu__col:last-child{
    margin-right: 0;
}

.site-menu__tittle{
    font-family: 'Yanone Kaffeesatz', sans-serif, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-bottom: 24px;
    text-decoration: none;
}

.site-menu__item{
    margin-bottom: 15px;
}

.site-menu__link{
    font-family: 'Yanone Kaffeesatz', sans-serif, Arial, sans-serif;
    color: black;
    font-size: 25px;
    text-decoration: none;
}

.site-menu__link:hover{
    color: red;
}

.site-menu__text{
    font-family: 'Yanone Kaffeesatz', sans-serif, Arial, sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
}

.site-menu__text-row{
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.site-menu__text-row:hover{
    color: red;
}

.site-menu__text-map{
    text-decoration: none;
    color: black;
}

.site-menu__text-map:hover{
    color: red;
}

.extras{
    display: flex;
    margin-bottom: 95px;
}

.extras__col{
    margin-right: 20px;
    flex: 1;
}

.extras__col:last-child{
    margin-right: 0;
}

.extras__best{
    text-align: center;
    color: #ffffff;
    background: #232323;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif, Arial, sans-serif;
    text-transform: uppercase;
    padding: 39px 10%;
    display: block;
    text-decoration: none;
    line-height: 1;
}

.extras__col-socials{
    height: 100%;
    background: url("../img/fon/social.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.extras__col:hover .extras__best{
    color:yellow;
}

.socials{
    display: flex;
}

.socials__item{
    margin-right: 50px;
}

.socials__item:last-child{
    margin-right: 0;
}

.socials__link{
    width: 50px;
    height: 50px;
    display: block;
}

.socials__link:hover .socials__icon{
    fill: blue;
}
.socials__icon{
    width: 100%;
    height: 100%;
}
